body {
    margin: 0 auto;
    width: auto;
}

header {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    font-weight: bold;
}

.nav-bar {
    background-color: #2B2B5C;
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.nav-bar-innerflex a{
    font-size: 40px;
    margin: 0 auto;
    padding-right: 20px;
    color: white;

}

